@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
    td, th {
      border: 1px solid black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: lightgrey;
    }
    a {
      color: #627d98;
    }
    a:visited {
      color: #616e7c;
    }
    th {
      border-top: 1px solid #007bff;
      border-bottom: 1px solid #007bff;
      border-left: 1px solid #212121;
      border-right: 1px solid #212121;
    }
    td {
      border: 1px solid #212121;
    }
}


body {
  width: 99%;
  font-size: 20px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  width: 100vw;
}

h1 {
  text-align: center;
  font-size: 2em;
}

label {
  display: block;
  margin-top: 1em 0;
  margin-bottom: 0.5em 0;
}

#courseCountLabel {
  margin-top: 1em;
}

input[type=text] {
  box-sizing: border-box;
  padding: 0.5em;
  margin-left: 5px;
  margin-bottom: 1em;
  background-color: inherit;
  color: inherit
}

select {
  display: block;
  margin: 0 auto;
  background-color: inherit;
  color: inherit;
}

button {
  display: block;
  margin: 0;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border: none;
  background-color: #007bff;
  color: inherit;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

select, button {
  float: left;
  clear: both;
  margin-right: 1em;
  margin-left: 10px;
  font-size: inherit;
}

#userLatLon, #desiredCourseCount {
  width: calc(100% - 200px);
  max-width: 300px;
  font-size: inherit;
}

p {
  margin-left: 10px;
}

p input {
  width: auto;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  border: 1px solid #aaa;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

thead {
  background-color: #007bff;
  color: inherit;
  font-weight: bold;
}

td, th {
  padding: 0.5em;
  text-align: center;
}

footer {
  text-align: left;
  margin-top: 1em;
  font-size: 0.8em;
}


#hourSelect, p {
  float: left;
  clear: left;
}
