@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
  td, th {
    border: 1px solid black;
  }
  .more_info {
    color: white;
    background: #2b2b2b;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: lightgrey;
  }
  a {
    color: #627d98;
  }
  a:visited {
    color: #616e7c;
  }
  th {
    border-top: 1px solid #007bff;
    border-bottom: 1px solid #007bff;
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;
  }
  td {
    border: 1px solid #212121;
  }
  .more_info {
    color: black;
    background: silver;
  }
}


body {
  width: 98%;
  font-size: 20px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  margin-left: 1%;
  margin-right: 1%;
}

.container {
  width: 100vw;
}

h1 {
  text-align: center;
  font-size: 2em;
}

label {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#courseCountLabel {
  margin-top: 1em;
}

input[type=text] {
  box-sizing: border-box;
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: inherit;
  color: inherit
}

select {
  display: block;
  margin: 0 auto;
  background-color: inherit;
  color: inherit;
}

button {
  display: block;
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0.5em 1em;
  border: none;
  background-color: #007bff;
  color: inherit;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

select, button {
  float: left;
  clear: both;
  margin-right: 1em;
  font-size: inherit;
}

#userLatLon, #desiredCourseCount {
  width: calc(100% - 200px);
  max-width: 300px;
  font-size: inherit;
}

p input {
  width: auto;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  border: 1px solid #aaa;
}

p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

thead {
  background-color: #007bff;
  color: inherit;
  font-weight: bold;
}

td, th {
  padding: 0.5em;
  text-align: center;
}

footer {
  text-align: left;
  margin-top: 1em;
  font-size: 0.8em;
}


#hourSelect, p {
  float: left;
  clear: left;
}

#lastLight {
  margin-top: 0.3em;
  margin-bottom: 0.1em;
}

.more_info {
  white-space: pre-line;
  border: 1px dotted;
  padding: 4px;
  position: absolute;
  top: inherit;
  width: 20em;
  height: auto;
  z-index: auto;
  margin-left: 20px;
  animation: fadeIn linear 0.15s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@keyframes fadeOut {
0% {opacity: 1;}
100% {opacity: 0;} 
}

